<header class="app-header">
  <img class="logo" src="/images/valet-io-logo.svg" alt="Valet.io Logo" />
</header>
<main>
  <header class="main-header">
    <div class="content">
      <h1>{{campaign.name}}</h1>
    </div>
  </header>
  <div class="content">
    <section class="panel panel-split panel-summary">
      <div class="panel-content">
        <h2>{{campaign.total | currency:'$':0}}</h2>
        <h4>Pledged</h4>
      </div>
      <div class="panel-content">
        <h2>{{campaign.count | number}}</h2>
        <h4>Pledges</h4>
      </div>
    </section>
    <section class="panel">
      <header class="panel-header">
        <h3>Pledges</h3>
      </header>
      <div class="panel-content">
        <table class="pledges">
          <thead>
            <tr>
              <th>Name</th>
              <th>Amount</th>
              <th>Time</th>
              <th>Anonymous</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pledge in campaign.pledges">
              <td>{{pledge.donor.name}}</td>
              <td>{{pledge.amount | currency:'$':0}}</td>
              <td>{{pledge.created_at | date:'h:mm:ss'}}</td>
              <td>{{pledge.anonymous}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</main>
