<a class="go-fullscreen" ng-show="fullscreen && !fullscreen.isFullscreen" ng-click="fullscreen.request()">Go Full Screen</a>
<div class="projection">
  <div class="main container">
    <div class="main-body">

      <h1 
        class="count-header"
        ng-pluralize
        count="campaign.firebase.aggregates.count"
        when="{'0': 'We',
               '1': '1 Donor',
               'other': '{} Donors'}">
      </h1>
      <h3 class="main-amount-prefix">
        <span
          ng-pluralize
          count="campaign.firebase.aggregates.count"
          when="{'1': 'Has',
                 'other': 'Have'}">
        </span>
        Raised
      </h3>
      <h1 class="main-amount label label-primary">${{campaign.total() | number}}</h1>
      <h2 class="main-url-prefix">Pledge Your Support At</h2>
      <h1 class="main-url" fittext>{{campaign.host}}</h1>
    </div>
  </div>
  <div class="sidebar">
    <header class="sidebar-header">
      <img ng-src="{{campaign.metadata.logo}}" />
    </header>
    <div class="sidebar-body">
      <ul class="donor-list">
        <li ng-repeat="pledge in campaign.firebase.pledges | orderByPriority | reverse | limitTo:5" class="donor-list-item">
          <h3 class="donor-list-name" ng-class="{anonymous: pledge.anonymous}">
            {{pledge.anonymous ? 'Anonymous' : pledge.donor.name}}
          </h3>
        </li>
      </ul>
    </div>
    <!-- <footer class="sidebar-footer">
      <h4 ng-show="limit > pledges.length">And {{pledges.length - limit}} Other Donors</h4>
    </footer> -->
  </div>
</div>
