@import 'pulse';

.projector-go-fullscreen {
  font-size: .75em;

  display: block;

  background: $primary-color;
  border-bottom: 3px solid $primary-color-border;
  color: white;

  text-align: center;
  padding: 1em .5em;

  text-transform: uppercase;
  font-weight: 300;

  cursor: pointer;

  @include animation(colorPulse 2s ease);
  @include animation-iteration-count(infinite);

  &.ng-hide-remove, &.ng-hide-add {
    transition: all 0s all linear;
    &-active {
      transition: all .5s ease-out;
      transition-delay: 1s;
    }
  }

  &.ng-hide {
    @include transform(translate3d(0, -100%, 0));
  }
}
