@function highlight($color) {
  @return lighten(saturate($primary-color-border, 15%), 10%);
}

@include keyframes(colorPulse) {
  from {
    background-color: $primary-color;
    border-color: $primary-color-border;
  }
  50% {
    background-color: highlight($primary-color);
    border-color: highlight($primary-color-border);
  }
  to {
    background-color: $primary-color;
    border-color: $primary-color-border;
  }
}
