$sidebar-background-color: #f2f2f2;
$sidebar-border: 2px solid darken($sidebar-background-color, 5%);

.projector-sidebar {
  @include flex(1);
  font-weight: 700;
  color: #343434;
  background: $sidebar-background-color;
  border-left: $sidebar-border;

  &-header {
    @extend .container;
    border-bottom: $sidebar-border;
  }

  &-body {
    @extend .container;
  }

  img {
    max-width: 100%;
  }

  .donor-list {
    &-item {
      font-size: 1.5em;
      margin: 1em 0;

      &:first-child {
        margin-top: 0;
      }

      $animation-time: .2s;

      &.ng-enter {
        @include animation(slideDown $animation-time ease-in);
        &-stagger {
          @include animation-delay($animation-time / 2);
          @include animation-duration(0s);
        }
      }

    }
  }
  
}
