body {
  font-size: 16px;
  @media #{$medium} {
    font-size: 20px;
  }
  @media #{$large} {
    font-size: 24px;
  }
}

.container {
  padding: 1em;
}

.full-height {
  min-height: 100%;
}

.projection {
  @include display(flex);
  @extend .full-height;
}

.main {
  @include flex(2);
}

.sidebar {
  @include flex(1);
}
