.label {
  display: inline-block;
  padding: .35em .5em;
  border-radius: .1em;
}

.label-primary {
  color: white;
  text-shadow: 0 3px 0 $primary-color-border;
  background-color: $primary-color;
  border-bottom: .1em solid $primary-color-border;
}
