@include keyframes(tada) {
  $tada-scale: .025;
  $tada-rotate: .5deg;
  $tada-big: 1 * (1 + $tada-scale);
  $tada-small: 1 * (1 - $tada-scale);

  0% {
    @include transform(scale3d(1, 1, 1));
  }

  10%, 20% {
    @include transform(scale3d($tada-small, $tada-small, $tada-small) rotate3d(0, 0, 1, -1 * $tada-rotate));
  }

  30%, 50%, 70%, 90% {
    @include transform(scale3d($tada-big, $tada-big, $tada-big) rotate3d(0, 0, 1, $tada-rotate));
  }

  40%, 60%, 80% {
    @include transform(scale3d($tada-big, $tada-big, $tada-big) rotate3d(0, 0, 1, -1 * $tada-rotate));
  }

  100% {
    @include transform(scale3d(1, 1, 1));
  }
}

.main {
  position: relative;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;

  &-amount-prefix {
    margin-bottom: .5em;
    font-weight: 300;
    color: #444;
  }

  &-amount {
    display: block;
    width: 70%;
    margin: 0 auto;
    font-size: 3.5em;
    margin-bottom: .5em;

    &.flash {
      @include animation(tada 1s linear);
    }
  }

  &-url-prefix {
    color: #444;
  }

  &-url {
    font-size: 3em;
  }
}

@function highlight($color) {
  @return lighten(saturate($primary-color-border, 15%), 10%);
}

@include keyframes(colorPulse) {
  from {
    background-color: $primary-color;
    border-color: $primary-color-border;
  }
  50% {
    background-color: highlight($primary-color);
    border-color: highlight($primary-color-border);
  }
  to {
    background-color: $primary-color;
    border-color: $primary-color-border;
  }
}

.go-fullscreen {
  font-size: .75em;

  display: block;

  background: $primary-color;
  border-bottom: 3px solid $primary-color-border;
  color: white;

  text-align: center;
  padding: 1em .5em;

  text-transform: uppercase;
  font-weight: 300;

  cursor: pointer;

  @include animation(colorPulse 2s ease);
  @include animation-iteration-count(infinite);

  &.ng-hide-remove, &.ng-hide-add {
    transition: all 0s all linear;
    &-active {
      transition: all .5s ease-out;
      transition-delay: 1s;
    }
  }

  &.ng-hide {
    @include transform(translate3d(0, -100%, 0));
  }
}
