.panel {

  margin: 1em 0;
  overflow: hidden;
  background: white;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 1px 2px #ddd;

  &-split {
    @include display(flex);
    .panel-content {
      width: 100%;
      &:not(:last-child) {
        border-right: #F0F0F0 .1em solid;
      }
    }
  }

  &-header {
    @include container;
    @include linear-gradient(
      to bottom,
      white,
      #f8f8f8 20%,
      #f4f4f4 90%,
      #f2f2f2
    );

    h3 {
      font: {
        size: 1.5em;
        weight: 700;
      }
      color: #323A45;
      text-shadow: 0 1px 1px white;
    }
  }

  &-content {
    @include container;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  &-statistics {
    text-align: center;
  }

  &-pledges {
    .panel-header-main {
      @include display(flex);
      @include justify-content(space-between);
      @include align-items(center);
    }
    .panel-controls {
      button {
        margin: {
          top: 0;
          bottom: 0;
        }
      }
    }
  }

  h2 {
    font: {
      size: 2em;
      weight: 700;
    }
    color: #323A45;
  }

  h4 {
    font: {
      size: .8em;
    }
    text-transform: uppercase;
    color: #ADADAD;
  }
}
