$sidebar-background-color: #f2f2f2;
$sidebar-border: 2px solid darken($sidebar-background-color, 5%);

.sidebar {
  font-weight: 700;
  color: #343434;
  background: $sidebar-background-color;
  border-left: $sidebar-border;

  &-header {
    @extend .container;
    border-bottom: $sidebar-border;
  }

  &-body {
    @extend .container;
  }

  img {
    max-width: 100%;
  }
}

@include keyframes(fadeInLeft) {
  0% {
    opacity: 0;
    @include transform(translate3d(10%, 0, 0));
  }
  100% {
    opacity: 1;
    @include transform(none);
  }
}

@include keyframes(slideDown) {
  0% {
    @include transform(translate3d(0, 25%, 0));
    opacity: 0;
  }
  100% {
    @include transform(none);
    opacity: 1;
  }
}

.donor-list {
  &-item {
    font-size: 1.5em;
    margin: 1em 0;

    &:first-child {
      margin-top: 0;
    }

    &.ng-enter {
      @include animation(fadeInLeft .25s linear);
      &-stagger {
        @include animation-delay(.03s);
        @include animation-duration(0s);
      }
    }

  }

}
