$sidebar-background-color: #f2f2f2;
$sidebar-border: 2px solid darken($sidebar-background-color, 5%);

.sidebar {
  font-weight: 700;
  color: #343434;
  background: $sidebar-background-color;
  border-left: $sidebar-border;

  &-header {
    @extend .container;
    border-bottom: $sidebar-border;
  }

  &-body {
    @extend .container;
  }

  img {
    max-width: 100%;
  }
}

.donor-list {
  &-item {
    font-size: 1.5em;
    margin: 1em 0;

    &:first-child {
      margin-top: 0;
    }

    $animation-time: .25s;

    &.ng-enter {
      max-height: 0;
      opacity: 0;
      @include transform(translate3d(0, -25%, 0));
      transition: all $animation-time ease-in;
      &-active {
        max-height: 999px;
        opacity: 1;
        @include transform(none);
      }
      &-stagger {
        transition-delay: $animation-time / 2;
        transition-duration: 0s;
      }
    }

  }

}
