$sidebar-background-color: #f2f2f2;
$sidebar-border: 2px solid darken($sidebar-background-color, 5%);

.sidebar {
  font-weight: 700;
  color: #343434;
  background: $sidebar-background-color;
  border-left: $sidebar-border;

  &-header {
    @extend .container;
    border-bottom: $sidebar-border;
  }

  &-body {
    @extend .container;
  }

  img {
    max-width: 100%;
  }
}

@include keyframes(slideDown) {
  0% {
    opacity: 0;
    max-height: 0;
  }
  10% {
    opacity: 0;
    @include transform(translate3d(0, -50%, 0));
  }
  100% {
    max-height: 999px;
    opacity: 1;
    @include transform(none);
  }
}

.donor-list {
  &-item {
    font-size: 1.5em;
    margin: 1em 0;

    &:first-child {
      margin-top: 0;
    }

    $animation-time: .2s;

    &.ng-enter {
      @include animation(slideDown $animation-time linear);
      &-stagger {
        @include animation-delay($animation-time / 2);
        @include animation-duration(0s);
      }
    }

  }

}
