$cell-background: #323A45;
$cell-border: 1px solid #eee;

thead {
  font-weight: 600;
  @include linear-gradient(
    lighten($cell-background, 10%),
    $cell-background 20%,
    darken($cell-background, 5%), 
    darken($cell-background, 10%) 95% 
  );
  color: #f8f8f8;
  text-transform: uppercase;
}

tbody {
  tr {
    border-bottom: $cell-border;
  }
}

td, th {
  text-align: center;
  vertical-align: middle;  
}

td {
  padding: .5em;
  color: #333;
  &:not(:last-child) {
    border-right: $cell-border;
  }
}

th {
  font-size: .8em;
  padding: 1em .5em;
  &:not(:last-child) {
    border-right: 1px solid lighten($cell-background, 5%);
  }
}
