$primary-color: #4A90E2;
$primary-color-border: #3684DE;

$valet-color: #E53A41;

$error-color: #F62449;
$error-color-border: darken($error-color, 10%); 

// Breakpoints
$medium-width: 768px;
$large-width: 1024px;
$medium: "(min-width: #{$medium-width})";
$large: "(min-width: #{$large-width})";
